<template>
  <div class="col col-lg-4 mt-4">
    <div class="card border mb-2" >
      <img class="card-img-top" v-bind:src="require(`@/assets/images/${car.image}`)" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
        <p class="card-text">{{car.description}}</p>
        <span class="font-weight-bold">Type: </span> 
        <span class="font-weight-light">{{car.driveType}}</span>
      </div>
      <div class="card-body">
        <div class="row border-top border-dark pt-4 pr-4">
          <div class="col col-lg-3 text-left pt-1">
            <span v-if="car.available" class="bg-success text-white p-2 mt-1">Available</span> 
            <span class="bg-danger text-white p-2" v-else>Sold out</span>
          </div>
          <div class="col col-lg-6 text-right">
            <span class="font-weight-bold">{{car.price}} {{currency}}</span> 
            <span class="font-weight-light"> per day</span>
            <p>All inclusive</p>
          </div>
          <div class="col col-lg-3 text-right" v-if="view !== 'account'">
            <button v-on:click="selectCar($event)" :data-carid="car.id" class="btn btn-lg btn-warning">See details</button>
          </div>
          <div class="col col-lg-3 text-right" v-else>
            <button v-on:click="returnCar($event)" :data-carid="car.id" class="btn btn-lg btn-warning">Return car</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   
</template>

<script>
export default {
  name: 'CarList',
  props: {
    car: Object,
    currency: String,
    view: String
  },
  methods: {
    selectCar (e) {
      this.$emit('selectCar', e)
    }
  }
}
</script>

<style>
.btn-warning{
  background:#fec400;
}

.border{
  border: 2px solid #dee2e6!important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>