<template>
    <div class="input-group mr-4">
      <select class="custom-select" @change="selectCurrency($event)" id="currencySelect">
        <option v-for="currency in currencies" v-bind:key="currency" v-bind:value="currency">{{currency}}</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">{{message}}</button>
      </div>
    </div>
</template>

<script>
export default {
  name: 'CurrencyList',
  props: {
    message: String
  },
  methods: {
    selectCurrency (e) {
      this.$emit('selectCurrency', e)
    }
  },
  data: function(){
    return{ 
      currencies: [
        "USD",
        "EUR",
        "JPY",
        "BGN",
        "CZK",
        "DKK",
        "GBP" ,
        "HUF",
        "PLN",
        "RON" ,
        "SEK",
        "CHF",
        "ISK" ,
        "NOK",
        "HRK",
        "RUB" ,
        "TRY",
        "AUD" ,
        "BRL" ,
        "CAD" ,
        "CNY" ,
        "HKD" ,
        "IDR",
        "ILS",
        "INR" ,
        "KRW",
        "MXN",
        "MYR" ,
        "NZD",
        "PHP",
        "SGD" ,
        "THB",
        "ZAR"
      ]

       
    }
  }
}
</script>

<style>

</style>