<template>
    <section class="bg-light p-4 mb-2" id="locationSection">
        <h1 >{{data.location.name}}</h1>
        <div class="row ml-4">
            <carList 
                v-for="car in data.cars"
                v-bind:car="car"
                v-bind:key="car.id"
                v-bind:currency="currency"
                @selectCar="loadCarData"
            ></carList>
        </div>
    </section>
</template>

<script>
import CarList from '../components/CarList.vue'

export default {
  name: 'LocationList',
  components: {
    'carList' : CarList
  },
  props: {
    data: Object,
    currency: String
  },

  methods:{
    loadCarData(e){
      this.carID = e.target.dataset.carid;
      let u_car = this.getCarByID(this.carID);
      // go to detail page
      if(u_car !== undefined){
         this.$router.push({ name: 'carDetail', params: { carID: this.carID, car: u_car, currency: this.currency } })
      }
    },

    getCarByID(id){
      let u_res = this.data.cars.filter(function(car){ return car.id.toString() === id.toString()});
      if(u_res.length > 0){
        return u_res[0];
      }else{
        console.error('no car found');
        return undefined;
      }
    }
  }
}
</script>

<style>
</style>