<template>
  <div class="col col-lg-4 mt-4">
    <div class="card border mb-2" >
      <img class="card-img-top" v-bind:src="require(`@/assets/images/${car.image}`)" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{car.brand}} {{car.model}}</h5>
        <p class="card-text">{{car.description}}</p>
      </div>
      <div class="card-body">
        <div class="row border-top border-dark pt-4 pr-4">
          <div class="col col-lg-6 text-left pt-1">
            <span class="font-weight-bold">{{dateFormatter}}</span> 
          </div>
          <div class="col col-lg-3 text-right">
            <span class="font-weight-bold checked">{{total}} {{currency}}</span> 
            <span class="font-weight-light checked"> total</span>
            <p>All inclusive</p>
          </div>
          <div class="col col-lg-3 text-right" v-if="view !== 'account'">
            <button v-on:click="selectCar($event)" :data-carid="car.id" class="btn btn-lg btn-warning">See details</button>
          </div>
          <div class="col col-lg-3 text-right" v-else>
            <button v-on:click="returnCar(reservation.id)" :data-carid="car.id" class="btn btn-lg btn-warning">Return car</button>
          </div>
        </div>
      </div>
    </div>
  </div>
   
</template>

<script>
export default {
  name: 'ReservationList',
  props: {
    reservation: Object,
    car: Object,
    currency: String,
    view: String
  },
  computed:{
    // a computed getter
    total: function () {
      let u_price = this.car.price;
      if (this.reservation.startDate && this.reservation.endDate) {
          var daysBetween = this.daydiff(this.parseDate(this.reservation.startDate), this.parseDate(this.reservation.endDate));
          let u_days = daysBetween;
          u_price = u_price * Math.abs(u_days);
      }
      return u_price;
    },

    dateFormatter: function(){
      
      let u_startDate = this.formatDate(this.reservation.startDate);
      let u_endtDate = this.formatDate(this.reservation.endDate);

      return u_startDate + ' - ' + u_endtDate;
    },

  },
  methods: {
    selectCar (e) {
      this.$emit('selectCar', e)
    },
    returnCar(reservationID){
      this.$emit('returnCar', reservationID)
    },
    formatDate(str){
      var mdy = str.split('-');
      return mdy[2] + '.' + mdy[1] + '.' + mdy[0];//YYYY-MM-DD
    },
    parseDate(str) {
        var mdy = str.split('-');
        return new Date(mdy[0] + ' ' + mdy[1] + ' ' +  mdy[2]);//YYYY-MM-DD
    },
    daydiff(first, second) {
        return Math.round((second-first)/(1000*60*60*24));
    },
  }
}
</script>

<style>
.btn-warning{
  background:#fec400;
}

.border{
  border: 2px solid #dee2e6!important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>