<template>
  <div id="app">
    <app-nav></app-nav>
    <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
    <router-view class="mt-4"/>
  </div>
</template>

<script type="text/babel">
  import AppNav from '@/components/navigation/AppNav.vue'
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'app',
    data() { 
      return{
         messages: ['Hey John', 'Howdy Paco']
      }
    },
    components: {
      AppNav
    },
    computed: {
        ...mapState({
            alert: state => state.alert
        })
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear' 
        })
    },
    watch: {
        $route (to, from){
            // clear alert on location change
            this.clearAlert();
        }
    } 
  }
  
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
