<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <router-link :to="'/'">
      <span class="navbar-brand d-flex flex-fill">Rent a Car</span>
    </router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" v-for="item in items"  v-bind:key="item.to">
          <nav-item :name="item.name" :to="item.to"></nav-item>
        </li>
      </ul>
      <ul class="navbar-nav" v-if="account.user !== null">
        <router-link class="nav-link" to="/login">Logout</router-link>
      </ul>

    </div>
  </nav>
</template>

<script type="text/babel">
  import NavItem from '@/components/navigation/NavItem'
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'AppNav',
    data() {
      return{
        items: [//list of navitems from router
            { name: 'Home',
              to: '/'},
            { name: 'Cars',
              to: '/cars'},
            { name: 'Account',
              to: '/account'}
        ]
      }
    },
    components: {
      NavItem
    },
    computed: {
      ...mapState({
          account: state => state.account
      })
  },
  }
  
</script>

<style scope>
.navbar{
  background:#222222;
}
.nav-item::after{
  content:'';
  display:block;
  width:0px;
  height:2px;
  background:#fec400;
  transition: 0.2s;
}
.nav-item:hover::after{
  width:100%;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{
  padding:10px 2px;
  transition:0.2s;
}
.dropdown-item.active, .dropdown-item:active{
  color:#212529;
}
.dropdown-item:focus, .dropdown-item:hover{
  background:#fec400;
}

</style>