<template>
    <router-link :to="to" class="nav-link" >
        {{name}}
    </router-link>
</template>

<script>

export default {
    name: 'navitem',
    props:{
        name: String,
        to: String
    },
}
</script>

<style scoped>


</style>