<template>
<div class="w-100 map-canvas"/>
  
</template>

<script>
import locationService from '@/_services/location.service.js'
import MarkerClusterer from '@google/markerclusterer';
import gmapsInit from '@/_helpers/gmaps';

export default {
  name: `GoogleMaps`,
  data: function(){
    return{ 
      map: null,
      markers: []
    }
  },
  methods: {
    async initMap(locations) {
      try {
        const google = await gmapsInit();
        const geocoder = new google.maps.Geocoder();
        const map = new google.maps.Map(this.$el);
        geocoder.geocode({ address: `Austria` }, (results, status) => {
          if (status !== `OK` || !results[0]) {
            throw new Error(status);
          }
          map.setCenter(results[0].geometry.location);
          map.fitBounds(results[0].geometry.viewport);
        });
       
        if(locations !== undefined){
          this.addMarker(locations, map);
        }
        this.map = map;
      } catch (error) {
        console.error(error);
      }
    },
    convertLocationDataToGoogleMapsLoc(data){
      let u_arr = [];
      data.forEach(function(rec){
        let u_loc = {};
        u_loc.position = {
          lat: rec.location.latitude,
          lng: rec.location.longitude
        }
        u_arr.push(u_loc);
      });
      return u_arr;
    },
    addMarker(locations, map){
      let u_locs = this.convertLocationDataToGoogleMapsLoc(locations);
      if(map === null || map === undefined){
        map = this.map;
      }
      const markerClickHandler = (marker) => {
          map.setZoom(13);
          map.setCenter(marker.getPosition());
        };
        const markers = u_locs
          .map((location) => {
            const marker = new google.maps.Marker({ ...location, map });
            marker.addListener(`click`, () => markerClickHandler(marker));
            return marker;
          });
        // eslint-disable-next-line no-new
        new MarkerClusterer(map, markers, {
          imagePath: `https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m`,
        });
        this.markers = markers;
    }
  }
  
};
</script>

<style>

.map-canvas{
  height: 500px;
}
</style>