<template>
    <div>
        <h1>Welcome {{account.user.username}}!</h1>
        <h3 class="text-warning">Your reservations</h3>
        <div class="row" v-if="reservations.length > 0 && loaded">
            <reservationList 
            v-for="reservation in reservations"
            v-bind:reservation="reservation"
            v-bind:car="reservation.car"
            v-bind:key="reservation.id"
            view="account"
            @returnCar="returnCar"
            ></reservationList>
        </div>
        <div v-else>
            <p>No reservations.</p>
        </div>
    	<!--
        <h3>All users from secure api end point:</h3>
        <em v-if="users.loading">Loading users...</em>
        <span v-if="users.error" class="text-danger">ERROR: {{users.error}}</span>
        <ul v-if="users.items">
            <li v-for="user in users.items" :key="user.id">
                {{user.id + ' ' + user.email}}
                <span v-if="user.deleting"><em> - Deleting...</em></span>
                <span v-else-if="user.deleteError" class="text-danger"> - ERROR: {{user.deleteError}}</span>
                <span v-else> - <a @click="deleteUser(user.id)" class="text-danger">Delete</a></span>
            </li>
        </ul>
        -->
        <p>
          <router-link class="text-warning" to="/login">Logout</router-link>
        </p>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { userService } from '../_services';
import { carService } from '../_services';
import { reservationService } from '../_services'
import ReservationList from '../components/ReservationList.vue'


export default {
    data: function(){
        return{ 
            cars: [],
            reservations: [],
            loaded: false
        }
    },
    components: {
        'reservationList' : ReservationList
    },
    computed: {
        ...mapState({
            account: state => state.account,
            users: state => state.users.all
        })
    },
    created () {
        reservationService.getBookedCarsFromUser()
        .then(response => {
            this.reservations = response.data;
            if(this.reservations.length > 0){
                carService.getCars()
                        .then(response =>{
                            this.mapCarReservations(response.data);
                        })
            }
        });
    },
    methods: {
        ...mapActions('users', {
            getAllUsers: 'getAll',
            deleteUser: 'delete'
        }),

        mapCarReservations(cars){
            this.reservations.forEach(function(res){
                let u_filtered = cars.filter(function(car){ return car.id.toString() === res.carId.toString()});
                if(u_filtered.length === 1){
                    res.car = u_filtered[0];
                }
            });
            this.loaded = true;
        },

        returnCar(reservationID){
            reservationService.returnCar(reservationID)
                                .then(response => {
                                    if(response.status === 200){
                                        this.$toasted.global.my_app_success({
                                            message : 'Car successfully returned!'
                                        });
                                        //this.$router.go()
                                        this.reservations = this.reservations.filter(function(res){return res.id.toString() !== reservationID.toString()})
                                    }else{
                                        this.$toasted.global.my_app_error();
                                    }
                                })
        },

        deleteUser(id){
            //userService.delete(id).then()
        }
    }
};
</script>

<style>

</style>
