<template>
  <div class="cars">
    <div class="row mb-2">
      <div class="col col-lg-4 text-left">
        <h1 class="ml-4">Our cars</h1>
      </div>
      <div class="col col-lg-6">
      </div>
      <div class="col col-lg-2 pr-4">
        <currencyList @selectCurrency="reloadCurrencies" v-bind:message="'Currency'"></currencyList>
      </div>
    </div>
    <div v-if="loaded && locations">
    <LocationList 
      v-for="location in locations"
      v-bind:data="location"
      v-bind:key="location.id"
      v-bind:currency="currencyID"
      view="cars"
    ></LocationList>
    </div>

  </div>
</template>

<script>
import CurrencyList from '../components/CurrencyList.vue'
import LocationList from '../components/LocationList.vue'
import { userService } from '../_services';
import { mapState, mapActions } from 'vuex'
import { locationService } from '../_services'

export default {
  name: 'cars',
  components: {
    'currencyList': CurrencyList,
    'LocationList': LocationList
  },
  created () {
     this.getAllLocations(this.currencyID);
  },
  watch:{
    locationState: function(){
      if(this.locationState.items){
        this.locations = this.locationState.items;
        this.loadData();
      }
    }
  },
  computed: {
    ...mapState({
        locationState: state => state.locations.all,
        users: state => state.users.all
    })
  },
  methods: {
    ...mapActions('locations', {
      updateLocationsAction: 'updateLocationsAction', 
      getAllLocations: 'getAll'
    }),

    updateLocationsInState: function() {
      this.updateLocationsAction(this.locations)
    },
    reloadCurrencies(e){
      this.currencyID = document.getElementById("currencySelect").value;
      this.getAllLocations(this.currencyID);
    },
    loadData(){
      this.updateLocationsInState();
      this.loaded = true;
    }
  },
  data: function(){
    return{ 
      currencyID: 'USD',
      loaded: false,
      locations: []
    }
  }
}
</script>
