<template>
  <div>
    <div class="row d-flex justify-content-center" v-if="car">
    <div class="col col-lg-8">
      <div class="card bg-light">
          <div class="wrapper row">
            <div class="preview col col-lg-6 col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1"><img v-bind:src="require(`../assets/images/${car.image}`)" alt="Card image cap" /></div>
              </div>
            </div>

            <div class="details col col-lg-6 col-md-6 p-4">
              <h3 class="product-title">{{car.brand}} {{car.model}}</h3>
              <div class="rating">
                <span class="review-no">41 reviews</span>
              </div>
              <p class="product-description">{{car.description}}</p>
              <h4 class="price"><span>{{car.price}} {{currency}} </span><span class="font-weight-light">per day</span></h4>
              <p>All inclusive</p>
              <h5 class="colors">colors:
                <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                <span class="color green"></span>
                <span class="color blue"></span>
              </h5>
              <div class="d-flex justify-content-center">
                <div class="form-group row">
                  <label for="startDate" class="col col-form-label">From:</label>
                  <div class="col">
                    <input type="date" class="form-control" id="startDate" v-on:change="priceByDate()" value="2019-04-29">
                  </div>
                </div>
                <div class="form-group row text-left ml-2">
                  <label for="endDate" class="col col-form-label">To:</label>
                  <div class="col">
                  <input type="date" class="form-control" id="endDate" v-on:change="priceByDate()" value="2019-04-30">
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <h3 class="checked">Total: {{car.price * days}}  {{currency}}</h3>
              </div>
              <div class="action mt-4">
                <button class="btn btn-lg btn-outline-warning mr-2" v-on:click="goBack()" type="button">Back</button>
                <button class="btn btn-lg btn-warning" v-on:click="bookCar(carID, $event)" type="button" v-if="car.available !== false">Book now!</button>
                <span class="bg-danger text-white p-2" v-else>Sold out</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
import CurrencyList from '../components/CurrencyList.vue'
import { reservationService } from '../_services'
import { carService } from '../_services';

export default {
  name: 'CarDetail',
  props: {
    carID: String,
    car: Object,
    currency: String
  },
  components: {
    'currencyList': CurrencyList
  },
  data: function(){
    return{ 
      days: 1,
      loaded: false
    }
  },
  created () {
    if(this.car === undefined){
      carService.getCars().then(response =>{this.mapCar(response.data);})     
    }
  },
  methods: {
    mapCar: function(cars){
      let u_carID = this.carID;
      let u_filtered = cars.filter(function(car){ return car.id.toString() === u_carID.toString()});
      if(u_filtered.length === 1){
          this.car = u_filtered[0];
      }
      this.loaded = true;
    },
    priceByDate: function () {
      let u_days = 1;
      if(document.getElementById("startDate") !== null){
        let startDate =  document.getElementById("startDate").value,
            endDate = document.getElementById("endDate").value;

        if (startDate && endDate) {
            var daysBetween = this.daydiff(this.parseDate(startDate), this.parseDate(endDate));
            u_days = daysBetween;
        }
      }

      this.days = Math.abs(u_days);
    },
    parseDate(str) {
        var mdy = str.split('-');
        return new Date(mdy[0] + ' ' + mdy[1] + ' ' +  mdy[2]);//YYYY-MM-DD
    },
    daydiff(first, second) {
        return Math.round((second-first)/(1000*60*60*24));
    },
    goBack () {
      this.$router.go(-1);
    },
    bookCar (carID, e){
      let u_data = {
        "carId": carID,
        "startDate": document.getElementById("startDate").value,
        "endDate": document.getElementById("endDate").value
      }

      reservationService.bookCar(u_data)
        .then(response =>{
          if(response.status === 200){
            this.$toasted.global.my_app_success({
                message : 'Car has been booked successfully!'
            });
            this.$router.push('/account')
          }else{
            this.$toasted.global.my_app_error();
          }
          
        })
        .catch(error =>{
          console.error(error)
        })
    }
  }
}
</script>

<style>

body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }



@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

</style>
