<template>
  <div class="home">
    <h1 v-if="account.user !== null">Welcome back {{account.user.username}}!</h1>
    <div class="row">
      <div class="col col-lg-2"></div>
      <div class="col col-lg-8">
        <h2 class="text-warning">Our facilities</h2>
      </div>
      <div class="col col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col col-lg-2"></div>
      <div class="col col-lg-8">
        <GoogleMaps ref="googleMapComponent"/>
      </div>
      <div class="col col-lg-2"></div>
    </div>
  </div>
</template>

<script>

import GoogleMaps from '../components/googleAPI/GoogleMaps.vue'
import { locationService } from '../_services'
import { userService } from '../_services'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'home',
  components: {
    GoogleMaps
  },
  data: function(){
    return{ 
      locations: [],
      loaded: false
    }
  },
  created () {
     this.getAllLocations('USD');
  },
  watch:{
    locationState: function(){
      if(this.locationState.items){
        this.locations = this.locationState.items;
        this.loadData();
      }
    }
  },
  computed: {
    ...mapState({
        account: state => state.account,
        locationState: state => state.locations.all,
        users: state => state.users.all
    })
  },
  methods: {
    ...mapActions('locations', {
      updateLocationsAction: 'updateLocationsAction', 
      getAllLocations: 'getAll'
    }),

    updateLocationsInState: function() {
      this.updateLocationsAction(this.locations)
    },

    loadData(){
      this.$refs.googleMapComponent.initMap(this.locations);  //call initMap function from googleMaps component
      this.updateLocationsInState();
      this.loaded = true;
    }
  }
}
</script>
